**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstartsettings
**/.vs
**/.vscode
**/._*
**/bin
**/node_modules
**/npm-debug.log
**/obj
**/riderModule.iml
**/target
**/team-provider-cache.xml
**/test-results
**/.idea
**/.*
*.log
